<div>
  <header class="header">
    <img class="col-2 img-picpay" src="../assets/header_picpay-sm.png" alt="PicPay">
    <img class="col-2 logo-atma" src="../assets/logo_atma.png" alt="ATMA">
  </header>

  <div class="text-picpay">
    <h1>Aproveite condições especiais e fique em dia com a PicPay*</h1>
    <h2>Confira como é simples renegociar suas dívidas:</h2>
  </div>

  <div class="list-button">
    <button class="col-6">Negocie Online</button>
    <button class="col-6">Negocie no APP</button>
    <button class="col-6">Fale conosco no WhatsApp.</button>
    <button class="col-6">Fale agora no Chat.</button>
    <button class="col-6">Nós te ligamos agora.</button>
    <button class="col-6">Agende para te ligarmos.</button>
  </div>

  <footer >
    <img src="../assets/logocomplete_picpay.png" alt="PicPay">
  </footer>
</div>